#cloud-config
users:
  - default
disable_root: true
system_info:
  default_user:
    name: ap2
    lock_passwd: true
    groups: [wheel, users]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
    ssh_authorized_keys:
      - ${key}
run_cmd:
  - sed -i -e 's/#UseDNS\ yes/UseDNS\ no/g' /etc/ssh/sshd_config
  - systemctl restart sshd
